@model IEnumerable<UniversityDepartmentSystem.Application.Dtos.CourseDto>
@{
    Layout = "_Layout";
}

<h2>Курсы</h2>

<a asp-controller="Courses" asp-action="Create">Создать новый курс</a>
<table class="table">
    <thead>
        <tr>
            <th>Номер курса</th>
            <th>Номер семестра</th>
            <th>Специальность</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseNumber</td>
                <td>@course.SemesterNumber</td>
                <td>@course.Specialty.Name</td> 
                <td>
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Детали</a> |
                    <a asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>